@using Loquit.Data.Entities
@using Microsoft.AspNetCore.Identity
@model Loquit.Services.DTOs.PostDTO

@{
    ViewData["Title"] = "Details";
}

@inject UserManager<AppUser> UserManager


@{
    var currentUser = await UserManager.GetUserAsync(User);
}

<div class="form-container-content">
    <div class="row">
            @{
                var creator = await UserManager.FindByIdAsync(Model.CreatorId);
            }

                
                    <div class="post-header2 d-flex justify-content-between flex-row">
                        <div class="post-header-text">
                            <div class="post-header-info d-flex flex-row justify-content-between">
                                <a asp-area="" asp-controller="Home" asp-action="Index" class="post-user d-flex flex-row">
                                    <span class="pfp pfp-small"><img src="~/@creator.ProfilePictureUrl" loading="lazy" /></span>
                                    <span class="post-name">@creator.UserName</span>
                                </a>
                                <div class="post-header-options d-flex justify-content-between flex-row gap-2">
                        @if (currentUser != null)
                        {
                            if (Model.LikedBy.Any(el => el.UserId == currentUser.Id))
                            {
                                <a asp-action="Like" asp-controller="Posts" asp-route-id="@Model.Id" class="post-header-option">
                                    <img class="option like" src="~/img/LikeFull.png" loading="lazy" />
                                    <div>@Model.LikedBy.Count</div>
                                </a>
                            }
                            else
                            {
                                <a asp-action="Like" asp-controller="Posts" asp-route-id="@Model.Id" class="post-header-option">
                                    <img class="option like" src="~/img/Like.png" loading="lazy" />
                                    <div>@Model.LikedBy.Count</div>
                                </a>
                            }
                            if (Model.DislikedBy.Any(el => el.UserId == currentUser.Id))
                            {
                                <a asp-action="Dislike" asp-controller="Posts" asp-route-id="@Model.Id" class="post-header-option">
                                    <img class="option dislike" src="~/img/LikeFull.png" loading="lazy" />
                                    <div>@Model.DislikedBy.Count</div>
                                </a>
                            }
                            else
                            {
                                <a asp-action="Dislike" asp-controller="Posts" asp-route-id="@Model.Id" class="post-header-option">
                                    <img class="option dislike" src="~/img/Like.png" loading="lazy" />
                                    <div>@Model.DislikedBy.Count</div>
                                </a>
                            }
                        }
                        else
                        {
                            <a class="post-header-option">
                                <img class="option like" src="~/img/Like.png" loading="lazy" />
                                <div>@Model.LikedBy.Count</div>
                            </a>
                            <a class="post-header-option">
                                <img class="option dislike" src="~/img/Like.png" loading="lazy" />
                                <div>@Model.DislikedBy.Count</div>
                            </a>
                        }
                                    <div class="post-header-option">
                                        <img class="option comment" src="~/img/Comment.png" loading="lazy" />
                                    <div>@Model.Comments.Count</div>
                                    </div>
                                    <div class="post-header-more">
                                        <div class="dropdown">
                                            <button class="more-btn btn btn-secondary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                <img class="more" src="~/img/more.png" loading="lazy" />
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li><a class="dropdown-item" href="#">Save</a></li>
                                                <li><a class="dropdown-item" href="#">Report</a></li>
                                                <li><a class="dropdown-item" href="#">Block User</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="title">
                                @Model.Title
                            </div>
                        </div>
                    </div>
                     <div>
            @if (Model.PictureUrl != null)
            {
                <img class="post-image2" src="~/uploads/@Model.PictureUrl" loading="lazy" />
            }
                        
                    </div>
        <div class="body-text">
            @Model.BodyText
        </div>
                    
            </div>
            
    </div>
<div class="write-comment d-flex justify-content-center flex-row">
    <div>
        <textarea oninput="auto_grow(this)" TextMode="MultiLine" class="write-comment-bar"></textarea>
    </div>
    <button type="submit" class="normal-btn write-comment-btn btn"><div>Create</div></button>
</div>
<div class="comments-container">
    @for (int i = 0; i < 20; i++)
    {
        <div class="comment-container d-flex justify-content-between flex-row">
            <div class="post-header-text">
                <div class="post-header-info d-flex flex-row justify-content-between">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="post-user d-flex flex-row">
                        <span class="pfp pfp-small"><img src="@Model.PictureUrl" loading="lazy" /></span>
                        <span class="post-name">@creator.UserName</span>
                    </a>
                    <div class="post-header-options d-flex justify-content-between flex-row gap-2">
                        <div class="post-header-option">
                            <img class="option like" src="~/img/Like.png" loading="lazy" />
                            <div>@Model.LikedBy.Count</div>
                        </div>
                        <div class="post-header-option">
                            <img class="option dislike" src="~/img/Like.png" loading="lazy" />
                            <div>@Model.DislikedBy.Count</div>
                        </div>
                        <div class="post-header-more">
                            <div class="dropdown">
                                <button class="more-btn btn btn-secondary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img class="more" src="~/img/more.png" loading="lazy" />
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="#">Block User</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div asp-area="" asp-controller="Posts" asp-action="Details" asp-route-id="@Model.Id">
                    @Model.Title
                </div>
            </div>
        </div>
    }
</div>
